* text=auto
.editorconfig text eol=lf
.env.example text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.py text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.patch text eol=lf
*.ps1 text eol=lf
